@model IEnumerable<OnlineBookCatalogingSystem.Models.Books>

@{
    ViewBag.Title = "Home";
}

<style>
    .book-card:hover { 
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
    }

    .book-title-link:hover {
        color: #4c7766 !important;
    }
</style>


<div class="d-flex align-items-center justify-content-between">
    <h1 style="font-size: 100px; color: #4c7766">Reading is <br />fascinating.</h1>
    <img src="@Url.Content("~/images/background-image.jpg")" alt="Background-Image" style="width:600px;" />
</div>

<hr style="margin: 50px;"/>


<div class="d-flex justify-content-between align-items-center">
    <div class="d-flex">
        <img src="@Url.Content("~/images/background-image-2.jpg")" alt="Background-Image" style="width:400px; height: auto; background-size: cover;" />
        <div style="width: 100px; background-color: #4c7766; margin-left: 1rem;">
    </div>

        <p></p>
    </div>
    <div class="d-flex flex-column justify-content-end text-lg-end">
        <h1 style="color: #4c7766" class="fw-bold">Deep dive into the <br /> world of books!</h1>
        <p>A library is a curated collection of sources of information and similar <br />resources selected by experts and made accessible to a defined <br />community for reference or borrowing.</p>
        <p>by Jobert I. Tunguia - BSIT 2A</p>
    </div>
</div>

<hr style="margin: 50px;"/>


<div class="mt-5">
    <h1 class="fw-bold mb-4" style="color: #4c7766;">POPULAR BOOKS</h1>

    <div class="row">
        @foreach (var item in Model.Take(8))
        {
            <div class="col-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100 border-1 shadow-sm text-center book-card">
                    <img src="@Url.Content("~/images/bookcovers/" + item.CoverImageUrl)"
                         class="card-img-top mx-auto mt-3"
                         alt="Cover of @item.Title"
                         style="width: 120px; height: 180px; object-fit: cover; background-color: gainsboro;" />

                    <div class="card-body">
                        <h6 class="card-title fw-bold text-truncate">
                            <a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookID" class="text-decoration-none text-dark">
                                @item.Title
                            </a>
                        </h6>
                        <p class="card-subtitle fst-italic text-muted" style="font-size: 0.9rem;">
                            @item.Genre
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
